@model IEnumerable<DK_NVQS.Models.Citizen>

@{
    ViewBag.Title = "CitizenList";
}

<h2>CitizenList</h2>

<div class="table-container">
    <table class="table table-bordered table-striped">
        <thead class="sticky-top" style="background-color: #ccc">
            <tr>
                <th>CCCD</th>
                <th>Họ Tên</th>
                <th>Giới Tính</th>
                <th>Ngày Sinh</th>
                <th>Tuổi</th>
                <th>Địa chỉ</th>
                <th>Quê Quán</th>
                <th>Trạng Thái</th>
                <th>Đủ ĐK</th>
                <th>Sẵn Sàng Nhập Ngũ</th>
                <th>Sơ yếu lý lịch</th>
                <th>Hồ sơ khám sức khỏe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CitizenID</td>
                    <td>@item.Name</td>
                    <td>
                        @if (!item.Gender.HasValue)
                        {
                            @:Không xác định
                        }
                        else if (item.Gender.Value)
                        {
                            @:Nam
                        }
                        else
                        {
                            @:Nữ
                        }
                    </td>
                    <td>@item.DateOfBirth.Value.ToString("dd/MM/yyyy")</td>
                    <td>@item.Age</td>
                    <td>@item.Address</td>
                    <td>@item.Hometown</td>
                    <td>@item.Status</td>
                    <td>
                        @if (!item.Eligible.HasValue)
                        {
                            @:Không xác định
                        }
                        else if (item.Gender.Value)
                        {
                            @:Đủ điều kiện
                        }
                        else
                        {
                            @:Không đủ điều kiện
                        }
                    </td>
                    <td>
                        @if (!item.Ready.HasValue)
                        {
                            @:Không xác định
                        }
                        else if (item.Gender.Value)
                        {
                            @:Sẵn sàng nhập ngũ
                        }
                        else
                        {
                            @:Chưa sẵn sàng nhập ngủ
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Detail", "CurriculumVitae", new { id = item.CitizenID })">Xem</a>
                    </td>
                    <td>
                        <a href="@Url.Action("List", "HealthRecord", new {id = item.CitizenID})">Xem</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>