@model DK_NVQS.ViewModel.LoginVM

@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="row w-25 mx-auto">
        <div class="col-md-12">
            @Html.LabelFor(temp => temp.UserName, "Tài khoản")
            @Html.TextBoxFor(temp => temp.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.UserName)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(temp => temp.Password, "Mật khẩu")
            @Html.TextBoxFor(temp => temp.Password, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(temp => temp.Password)
        </div>
    </div>
    <div class="row w-25 mx-auto">
        <div class="col-md-12">
            @Html.ValidationSummary()
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </div>
}
